@charset "ISO-8859-1";

body {
	background-color: #52D19C;
}

#BarraSuperior{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;

	background-color: black;
	width: 100%;

	color: white;
	font-size: 190%;
	text-align: center;
}


.Titulo{

	background-color: black;
	color: white;
	font-size: 170%;
	text-align: center;

	width: 250px;
	height: 50px;
}

.Tabela{
	background-color: white;
	color: black;

	width: 100%;
	font-size: 18px;
	
}

.TabelaCentral{

	width: 99%;
}

.LetraBranca{
	color: white;
	background-color: black;
}

.Fonte1{
	font-size: 16px;
}

input{
	font-size: 16px;
}

.Dinheiro{
	text-align: right;
}

.BarraValor{
	color: white;
	background-color: black;
	width: 100%;
	height: 36px;
	font-size: 20px;
}

#BarraTotal{
	color: white;
	background-color: black;
	width: 100%;
	font-size: 190%;
	
	position: absolute;
	right: 0;
	left: 0;
}

.seta-esquerda-data:before {
  content: "";
  display: inline-block;
  vertical-align: button;
  margin-right: 10px;
  width: 0; 
  height: 0; 
  cursor: pointer;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 12px solid white; 
}

.seta-direita-data:before {
  content: "";
  display: inline-block;
  vertical-align: button;
  margin-right: 10px;
  width: 0; 
  height: 0; 
  cursor: pointer;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid white;
}

.FontNegrito{
	font-weight: bold;
}

#botaoOK{
	width: 70px; 
}

.CorReceita{
	color: #00FF57;
}

.CorDespesa{
	color: #FF034F;
}

.seta-esquerda-tabela:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent; 
  border-right: 18px solid black; 
}

.seta-direita-tabela:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid black;
}

.BotaoExcluir{
	background-color: #FF034F;
	color: white;
}


.modal1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modal1:target {
  opacity: 1;
  pointer-events: auto;
  padding: 50px 0px;
}

.modal1 > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}

.divAlterar {
	width: 80%;
	background-color: #52D19C;
	border: 4px solid black;
}

.TamanhoLetraTitulo{
	font-size: 140%;
}

.divAlterar td {
	border:none
}

.tituloAlterar{
	
	 top: 0;
	 right: 0;
	 left: 0;
}

.MouseMaozinha{
	 cursor: pointer;
}

.MouseSeta{
	 cursor: text;
}

/*.divAlterar input[type=text]{
	background-color: #52D19C;
}

.divAlterar input[type=date]{
	background-color: #52D19C;
}

.divAlterar input[type=number]{
	background-color: #52D19C;
}*/

.BarraData{
	background-color: black;
	color: white;
	font-size: 100%;
	border:0px;
   	outline:0px;
   	text-align: center;
}

option{
	background-color: black;
	color: white;
	font-size: 100%;
	text-align: center;
	border:0px;
   	outline:0px;
   	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
 .inativoMes{
 	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  pointer-events: none;
	  opacity:0;
 }   
       
 .inativoAno{
 	  position: fixed;
 	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  pointer-events: none;
	  opacity:0;
 }   
    
.positivo{
	color: #00FF57;
}

.negativo{
	color: #FF034F;
}

.modal2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(82,209,156,1);
  z-index: 99999;
  opacity:0;
  pointer-events: none;
}

.modal2:target {
  opacity: 1;
  pointer-events: auto;
  padding: 50px 0px;
}

.modal2 > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}